<%- include('include/_header')%>

<main id="site-main">

    <div class="dashboard-wrapper">

        <div class="dashboard-card">

            <div class="dashboard-top">
                <h2>🔐 Your Saved Passwords</h2>

                <div class="dashboard-actions">
                    <input type="text" id="searchInput" placeholder="Search passwords..."/>
                    <a href="/add-entry" class="add-btn">+ New Entry</a>
                </div>
            </div>

            <table class="modern-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Purpose</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <%- include('include/_show')%>
                </tbody>
            </table>

        </div>

    </div>

</main>

<%- include('include/_footer')%>